/*body            { font-family: 'Georgia', serif; background: rgb(69, 177, 69); }*/
/*a, h1, h2       { color: #035703; padding: .5em }*/
/*h1, h2          { font-family: 'Georgia', serif; margin: 0; }*/
/*h1              { border-bottom: 2px solid #eee; }*/
/*h2              { font-size: 1.2em; }*/

/*.page           { margin: 2em auto; width: 75em; border: 5px solid #ccc;*/
                  /*padding: 0.8em; background: white; }*/
/*.entries        { list-style: none; margin: 0; padding: 0; }*/
/*.entries li     { margin: 0.8em 1.2em; }*/
/*.entries li h2  { margin-left: -1em; }*/
/*.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }*/
/*.add-entry dl   { font-weight: bold; }*/
/*.metanav        { text-align: left; font-size: 0.8em; padding: 0.3em;*/
                  /*margin-bottom: 1em; background: #fafafa; }*/

.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    height: 350px;
    width: 350px;
    margin: -135px 0 0 -105px;
}

.crop2 {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop2 img {
    height: 305px;
    margin: -135px 0 0 -105px;
    position: absolute;
}