<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dig It: A Guide to Urban Agriculture</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body style="background: lightgray">

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right" style="padding-top: 35px">
                    <li role="presentation"><a href="/">About</a></li>
                    <li role="presentation"><a href="team">Team</a></li>
                    <li role="presentation" class="active"><a href="howItWorks">How it Works</a></li>
                    <li role="presentation"><a href="plan">Get Started</a></li>
                    <!--<li role="presentation"><a href="results">Results</a></li>-->
                    <li role="presentation"><a href="nextSteps">Next Steps</a></li>
                </ul>
            </nav>
            <h3 class="crop" style="margin-bottom: -70px">
                <img src="http://i.imgur.com/V2fq7Cz.png">
            </h3>
        </div>

                <div class="jumbotron" style="background-color: forestgreen;">
            <h1 style="color: lightgray">How it Works</h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing" style="margin-top: -5px;">
            <div class="col-lg-6" style="width: 100%">
                <p>Our algorithm uses research about the top 22 most common crops in the NorthEast and the different
                    factors required for each to flourish i.e. amount of sun, water, nutritional value, how much land
                    one plant occupies, etc. We then developed a process to convert the units and normalize the data.
                    From there, we had the basic constraints of sunlight, water, land, and labor. To make the model more
                    personalized, we included a way for users to rank the preferences for their crops: the higher the
                    preference, the more likely the program would be to suggest the crop. As we further considered how
                    to get users the best choice of crops, we decided to allow them to choose between maximizing profit
                    or maximizing nutritional yield. As a result, the user now has a great deal of control over the
                    program and the associated outputs.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>

    </div>
</body>

</html>