<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dig It: A Guide to Urban Agriculture</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">About</a></li>
                    <li role="presentation"><a href="team">Team</a></li>
                    <li role="presentation"><a href="howItWorks">How it Works</a></li>
                    <li role="presentation"><a href="plan">Get Started</a></li>
                    <!--<li role="presentation"><a href="results">Results</a></li>-->
                    <li role="presentation"><a href="nextSteps">Next Steps</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Dig It</h3>
        </div>

        <div class="jumbotron" style="background-color: forestgreen;">
            <h1>Dig It: A Guide to Urban Agriculture</h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6" style="width: 100%">
                <h4>Our Inspiration</h4>
                <p>At Dig It we have a passion for improving and facilitating urban gardening. Major Philadelphia grocery
                    stores charge high prices for fresh and nutritious produce imported from outside of the region. Meanwhile
                    there are many empty lots throughout city that are not being used. We have discovered that by using
                    empty lots to grow produce, many households would be able to obtain nutritious food at cheaper prices.
                    Through study of past efforts and examinination their reasons for failure, we have created a better
                    system called Dig It.
                </p>
                <h4>Or Goal</h4>
                <p>Dig It aims to solve the problem of costly and inaccessible produce by providing an application
                    that gives step by step instructions on how to farm a community garden in Philadelphjia, with the
                    intention that local communities will be able to grow some of their own food.
                </p>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>

    </div>
</body>

</html>

