<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>Dig It: A Guide to Urban Agriculture!</h1>-->
    <!--&lt;!&ndash;<link rel=stylesheet href="../static/style.css">&ndash;&gt;-->
    <!--&lt;!&ndash;<head>&ndash;&gt;-->
        <!--&lt;!&ndash;<meta charset="UTF-8">&ndash;&gt;-->
        <!--&lt;!&ndash;<title>Title</title>&ndash;&gt;-->
    <!--&lt;!&ndash;</head>&ndash;&gt;-->

    <!--{% for v in result['prob'].variables() %}-->
    <!--<p>{{v.name}}: {{v.varValue}}</p>-->
    <!--{% endfor %}-->

    <!--<p>Total SQFT: {{result['total_land']}}</p>-->

<!--</body>-->

<!--<title>Dig It: A Guide to Urban Agriculture!</title>-->
<!--<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">-->
<!--<div class=page>-->
  <!--<h1>Dig It: A Guide to Urban Agriculture!</h1>-->
  <!--<div class=metanav>-->
      <!--&lt;!&ndash;{% for v in result['prob'].variables() %}&ndash;&gt;-->
      <!--&lt;!&ndash;<p>{{v.name}}: {{v.varValue}}</p>&ndash;&gt;-->
      <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->

      <!--&lt;!&ndash;Probably won't work when more than one crop is there so reconsider&ndash;&gt;-->
      <!--<p>Percentage per Crop: {{result['varVal_name']}} {{result['varVal_val']}}</p>-->
      <!--<p>Total SQFT: {{result['total_land']}}</p>-->
      <!--<p>Total SQFT per Crop: {{result['land_per']}}</p>-->
      <!--<p>Total Yield per Crop: {{result['total_yield']}}</p>-->
      <!--<p>Total Value ($): {{result['total_val']}}</p>-->

  <!--{% block body %}{% endblock %}-->
<!--</div>-->
<!--</div>-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dig It: A Guide to Urban Agriculture!</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="plan">Plan</a>
                    </li>
                    <li role="presentation"><a href="nextSteps">Next Steps</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Dig It: A Guide to Urban Agriculture!</h3>
        </div>

        <div class="jumbotron" style="background-color: forestgreen;">
            <h1>The Dig It Mission</h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Who we are</h4>
                <p>At Dig It we have a passion for improving and facilitating urban gardening.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>

    </div>
</body>

</html>

