<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dig It: A Guide to Urban Agriculture</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body style="background: lightgray">

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right" style="padding-top: 35px">
              <li role="presentation" ><a href="/">About</a></li>
              <li role="presentation"><a href="team">Team</a></li>
              <li role="presentation"><a href="howItWorks">How it Works</a></li>
              <li role="presentation"><a href="plan">Get Started</a></li>
              <!--<li role="presentation"><a href="results">Results</a></li>-->
            <li role="presentation" class="active"><a href="nextSteps">Next Steps</a></li>
          </ul>
        </nav>
        <h3 class="crop" style="margin-bottom: -70px">
                <img src="http://i.imgur.com/V2fq7Cz.png">
            </h3>
        </div>

        <div class="jumbotron" style="background-color: forestgreen;">
            <h1 style="color: lightgray">Next Steps</h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing" style="margin-top: -5px;">
            <div class="col-lg-6" style="width: 100%">
                <h4 style="font-size: xx-large; padding-bottom: 10px">So you have a plan...now what?</h4>

                <h4>Applying for Land</h4>
                <p>If you have a lot in mind, great! If not, you can search for one <a href="http://secure.phila.gov/PAPLPublicWeb/Landing.aspx" target="_blank">
                    here</a>. If you would like to begin gardening without receiving a permit, garden at your own risk! The city may
                    take the land at any given time.</p>
                <br>
                <p>A safer and recommended alternative would be to aply for a Garden Agreement License. With this, the
                city can still terminate the lease at any given time, but they generally tend to respect the growing season.
                Along these lines, you can also secure a Community Garden Lease for up to 5 years. This option is more permanent
                but you will need to obtain a general liability insurance policy.</p>
                <br>
                <p>If you live close to the lot in question, it may be possible to garden the property as part of the
                Dollar Side Lot Program.</p>
                <br>
                <p>Finally, you may purchase the property for a discounted price or nominal fee by contacting your
                district councilperson.</p>

                <h4>Additional Resources</h4>
                <p>Some other websites of interest include <a href="http://www.philadelphialandbank.org/i-am-a/#land-for-a-community-garden" target="_blank">
                    this</a> and <a href="https://communitygarden.org/" target="_blank">this</a>. Now get out there and
                    help make Philadelphia a more sustainable place while having fun gardening!</p>

                <h4 style="font-size: xx-large; padding-bottom: 10px">Final Acknowledgements</h4>
                <p>Our experience in senior design has been an amazing way to apply what we have learned at Penn in a
                    team setting. We would like to thank Sid and Jan as well as the rest of the ESE department and the
                    University of Pennsylvania School of Engineering and Applied Sciences for assisting us throughout the
                    process of the development of our product. We would also like to thank the teaching assistants, Jeff
                    and Katherine, for all of their guidance and advice. Finally we would like to thank our advisers,
                    Richard Reinhart and Pete Scott. Our project would not have been nearly as successful without their help.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>

    </div>
</body>

</html>