<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dig It: A Guide to Urban Agriculture</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
              <li role="presentation" ><a href="/">About</a></li>
              <li role="presentation"><a href="team">Team</a></li>
              <li role="presentation"><a href="howItWorks">How it Works</a></li>
              <li role="presentation"><a href="plan">Get Started</a></li>
              <!--<li role="presentation"><a href="results">Results</a></li>-->
            <li role="presentation" class="active"><a href="nextSteps">Next Steps</a></li>
          </ul>
        </nav>
        <h3 class="text-muted" style="font-size: 45px">Dig It</h3>
      </div>

        <div class="jumbotron" style="background-color: forestgreen;">
            <h1>Next Steps</h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing" style="margin-top: -5px;">
            <div class="col-lg-6">
                <h4>Applying for Land</h4>
                <p>You should go to website xyz.</p>

                <h4>Additional Resources</h4>
                <p>Good sites to use are...</p>

                <h4>Final Acknowledgements</h4>
                <p>We would like to thank Sid and Jan as well as Jeff and Katherine and the University of Pennsylvania School of Engineering and Applied Sciences.</p>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>

    </div>
</body>

</html>