<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dig It: A Guide to Urban Agriculture</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body style="background: lightgray">

    <div class="container">
        <div class="header" style="height: 105px">
            <nav>
                <ul class="nav nav-pills pull-right" style="padding-top: 35px">
                    <li role="presentation"><a href="/">About</a></li>
                    <li role="presentation"><a href="team">Team</a></li>
                    <li role="presentation"><a href="howItWorks">How it Works</a></li>
                    <li role="presentation"><a href="plan">Get Started</a></li>
                    <li role="presentation" class="active"><a href="results">Results</a></li>
                    <li role="presentation"><a href="nextSteps">Next Steps</a></li>
                </ul>
            </nav>
            <h3 class="crop2" style="margin-bottom: -70px">
                <img src="http://i.imgur.com/V2fq7Cz.png" style="width: 345px; margin-left: -110px; margin-top: -205px">
            </h3>
        </div>

        <div class="jumbotron" style="background-color: forestgreen;">
            <h1 style="color: lightgray">Results</h1>
            <p class="lead"></p>
        </div>

        <!--<div class="download">-->
            <!--<p>Download the excel spreadsheet and input your results to learn more about guidelines for your personalized garden! Then save the results to your computer.</p>-->
            <!--<a href="https://doc-00-7c-docs.googleusercontent.com/docs/securesc/c2t3h7lhudu52fkda7cqp7f1tq1b3jdj/t87vu10d3ubvgugsd4aiudedfoge02kd/1490544000000/03471552341793828098/11496884230786177644/0B90MV6aH06IqeVlPQmZPVXU5ZTQ?e=download&h=02904514533838347803&nonce=srgnq4et8a52a&user=11496884230786177644&hash=pjk9go2pp3vgj6i9fd34d243bro49tvk" download>Download file here.</a>-->
            <!--&lt;!&ndash;<a href="https://docs.google.com/spreadsheets/d/1JKFurJM9Q_o7rV7wenr4PAkRH1J43xYBcVXGaupGicQ/edit#gid=983571878" target="_blank">Download</a>&ndash;&gt;-->
        <!--</div>-->

        <!--<div class=metanav>-->
            <!--&lt;!&ndash;<p>Percentage per Crop: {{result['varVal_name']}} {{result['varVal_val']}}</p>&ndash;&gt;-->
            <!--<p>Total SQFT: {{result['total_land']}}</p>-->
            <!--<p>Total SQFT per Crop: {{result['varVal_name']}} {{result['land_per']}}</p>-->
            <!--<p>Total Yield per Crop: {{result['total_yield']}}</p>-->
            <!--<p>Total Value ($): {{result['total_val']}}</p>-->
            <!--<p>Test: {{result['num']}}</p>-->
            <!--<p>Test2: {{result['varVal_name'][0]}}</p>-->
        <!--</div>-->



        <div class="table">
            <style>
                table {
                    font-family: arial, sans-serif;
                    border-collapse: collapse;
                    width: 100%;
                }

                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: #dddddd;
                }
                </style>

                <table>
                    <tr>
                        <th>Crop Name</th>
                        <th>Total SQFT per Crop</th>
                        <th>Approximate Total Yield per Crop</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][0]}}</th>
                        <th>{{result['land_per'][0]}}</th>
                        <th>{{result['total_yield'][0]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][1]}}</th>
                        <th>{{result['land_per'][1]}}</th>
                        <th>{{result['total_yield'][1]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][2]}}</th>
                        <th>{{result['land_per'][2]}}</th>
                        <th>{{result['total_yield'][2]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][3]}}</th>
                        <th>{{result['land_per'][3]}}</th>
                        <th>{{result['total_yield'][3]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][4]}}</th>
                        <th>{{result['land_per'][4]}}</th>
                        <th>{{result['total_yield'][4]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][5]}}</th>
                        <th>{{result['land_per'][5]}}</th>
                        <th>{{result['total_yield'][5]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][6]}}</th>
                        <th>{{result['land_per'][6]}}</th>
                        <th>{{result['total_yield'][6]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][7]}}</th>
                        <th>{{result['land_per'][7]}}</th>
                        <th>{{result['total_yield'][7]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][8]}}</th>
                        <th>{{result['land_per'][8]}}</th>
                        <th>{{result['total_yield'][8]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][9]}}</th>
                        <th>{{result['land_per'][9]}}</th>
                        <th>{{result['total_yield'][9]}}</th>
                    </tr>
                    <tr>
                        <th>{{result['english_name'][10]}}</th>
                        <th>{{result['land_per'][10]}}</th>
                        <th>{{result['total_yield'][10]}}</th>
                    </tr>

                </table>
        </div>

        <div class="spreadsheet">
            <a href="https://docs.google.com/spreadsheets/d/1036tqZXnFY1lccAmhGM_UB9hdgR71_ECUb-DjeurGwg/edit?usp=sharing" target="_blank">Click here to access the Google document for this table</a>
            <br>
            <iframe src="https://docs.google.com/spreadsheets/d/1036tqZXnFY1lccAmhGM_UB9hdgR71_ECUb-DjeurGwg/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" style="width: 100%; height: 300px; margin-top: 15px"></iframe>
        </div>

        <footer class="footer">
            <p>&copy; Company 2016</p>
        </footer>

    </div>
</body>

</html>

