<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dig It: A Guide to Urban Agriculture</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">About</a></li>
                    <li role="presentation" class="active"><a href="team">Team</a></li>
                    <li role="presentation"><a href="howItWorks">How it Works</a></li>
                    <li role="presentation"><a href="plan">Get Started</a></li>
                    <!--<li role="presentation"><a href="results">Results</a></li>-->
                    <li role="presentation"><a href="nextSteps">Next Steps</a></li>
                </ul>
            </nav>
            <h3 class="text-muted" style="font-size: 45px">Dig It</h3>
        </div>

        <div class="jumbotron" style="background-color: forestgreen;">
            <h1>Our Team</h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing" style="margin-top: -5px;">
            <div class="col-lg-6" style="width: 100%">
                <p style="text-align: center; font-size: x-large">Emma Cordano</p>
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAscAAAAJDFmNzc4MWUyLTIyNzctNDAxYy1hOWQwLTQyODU1NDdhZmU1Zg.jpg" style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">Emma is a member of the class of 2017. She will graduate with a B.S.E. in Systems Engineering, with minors in Computer Science, Math, and Entrepreneurship. She will be continuing a career in web development, product management, and web design post-grad. Her project focus was software development and crop research.</p>
                <p style="text-align: center; font-size: x-large">Dan Kennedy-Moore</p>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/005/03a/054/3c4afc8.jpg" style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">bio</p>
                <p style="text-align: center; font-size: x-large">Renee Chin Lee</p>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAP4AAAAJDU3OTQ5YzQ2LWZjNGEtNDZiMS1hZjA3LWQ4ZGQzZGE1M2E3ZA.jpg"style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">bio</p>
                <p style="text-align: center; font-size: x-large">Albert Lee</p>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAiVAAAAJGY3MTFjNjllLWY1OWUtNDAzOS04MzRiLTczNjQxZGE2MGVmYg.jpg" style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">Albert is a member of the class of 2017. He will graduate with a B.S.E. in Electrical Engineering and a M.S.E. in Systems Engineering. He was born in California and is interested in multi-party, large scale systems. His project focus as been on documentation stakeholder reach-out.  </p>
                <p style="text-align: center; font-size: x-large">Leo Kim</p>
                <img src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/14720421_10154629489174766_7590362863270990375_n.jpg?oh=50d6af6ccd62d09c545d5e1d50830598&oe=596A4235" style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">bio</p>
            </div>
        </div>
    </div>

    <footer class="footer">
        <p>&copy; Company 2016</p>
    </footer>

</body>

</html>
