<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dig It: A Guide to Urban Agriculture</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/css/style.css" rel="stylesheet">

</head>

<body style="background: lightgray">

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right" style="padding-top: 35px">
                    <li role="presentation"><a href="/">About</a></li>
                    <li role="presentation" class="active"><a href="team">Team</a></li>
                    <li role="presentation"><a href="howItWorks">How it Works</a></li>
                    <li role="presentation"><a href="plan">Get Started</a></li>
                    <!--<li role="presentation"><a href="results">Results</a></li>-->
                    <li role="presentation"><a href="nextSteps">Next Steps</a></li>
                </ul>
            </nav>
            <h3 class="crop" style="margin-bottom: -70px">
                <img src="http://i.imgur.com/V2fq7Cz.png">
            </h3>
        </div>

        <div class="jumbotron" style="background-color: forestgreen;">
            <h1 style="color: lightgray">Our Team</h1>
            <p class="lead"></p>
        </div>

        <div class="row marketing" style="margin-top: -5px;">
            <div class="col-lg-6" style="width: 100%">
                <p style="text-align: center; font-size: x-large">Emma Cordano</p>
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAscAAAAJDFmNzc4MWUyLTIyNzctNDAxYy1hOWQwLTQyODU1NDdhZmU1Zg.jpg" style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">Emma is a member of the class of 2017. She will graduate with a B.S.E. in Systems Engineering, with minors in Computer Science, Math, and Entrepreneurship. She will be continuing a career in web development, product management, and web design post-grad. Her project focus was software development and crop research.</p>
                <p style="text-align: center; font-size: x-large">Dan Kennedy-Moore</p>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/005/03a/054/3c4afc8.jpg" style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">Dan will be graduating May 2017 with a B.S.E. in Systems Engineering and minors in Math and Engineering Entrepreneurship. After graduation he will use his optimization and modeling skills learned at Penn to pursue a career in finance as a healthcare investment banker. His project focus was on the original excel model and in setting up the variables and constraints for the algorithm.</p>
                <p style="text-align: center; font-size: x-large">Renee Chin Lee</p>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAP4AAAAJDU3OTQ5YzQ2LWZjNGEtNDZiMS1hZjA3LWQ4ZGQzZGE1M2E3ZA.jpg"style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">Renee will graduate in May 2017 with a B.S.E. in Systems Engineering. After graduation, she will be moving back home to Trinidad and Tobago where she will join her family business. Her focuses for this project were crop research, written reports/charts, and videography.</p>
                <p style="text-align: center; font-size: x-large">Albert Lee</p>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAiVAAAAJGY3MTFjNjllLWY1OWUtNDAzOS04MzRiLTczNjQxZGE2MGVmYg.jpg" style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">Albert is a member of the class of 2017. He will graduate with a B.S.E. in Electrical Engineering and a M.S.E. in Systems Engineering. He was born in California and is interested in multi-party, large scale systems. His project focus as been on documentation stakeholder reach-out.  </p>
                <p style="text-align: center; font-size: x-large">Leo Kim</p>
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA0IAAAAJDc3NmE5ZGU2LWRjYTktNDYwNy1iMDJiLTQzOGNiMjRjMDdjMg.jpg" style="width:150px;height:150px;display: block;margin-left: auto;margin-right: auto;"/>
                <p style="text-align: center;font-size: larger;padding-top: 10px;margin-left: 75px;margin-right: 75px;">Leo will graduate in May 2017 with a B.S.E. in Systems Engineering and a B.S.E. in Economics with concentrations in finance and management. After graduation, he will be pursuing a career in renewable energy. Throughout the project, he has been in charge of the design and implementation of the framework.</p>
            </div>
        </div>
    </div>

    <footer class="footer" style="margin-left: 440px; margin-right: 440px">
        <p>&copy; Company 2016</p>
    </footer>

</body>

</html>
